name: 'Tests: pretest'

on: [pull_request, push]

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  pretest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ljharb/actions/node/install@main
        name: 'nvm install lts/* && npm install'
        with:
          node-version: 'lts/*'
      - run: npm run pretest

