name: 'Tests: node.js'

on: [pull_request, push]

jobs:
  tests:
    uses: ljharb/actions/.github/workflows/node-majors.yml@main
    with:
      range: '>= 12'
      command: npm run tests-only && npm run coverage

  node:
    name: 'node tests'
    needs: [tests]
    runs-on: ubuntu-latest
    steps:
      - run: 'echo tests completed'

